## Getting trading data using quandl

In [1]:
import quandl

In [2]:
aapl = quandl.get("WIKI/AAPL", start_date="2012-10-01", end_date="2017-01-01")

In [3]:
type(aapl)

pandas.core.frame.DataFrame

In [4]:
aapl_numpy_array = quandl.get("WIKI/AAPL", start_date="2012-10-01", end_date="2017-01-01", returns="numpy")

In [5]:
type(aapl_numpy_array)

numpy.recarray

In [17]:
aapl.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-10-01,671.50,676.75,656.50,659.39,19414100.0,0.0,1.0,86.665526,87.343104,84.729587,85.102578,135898700.0
2012-10-02,661.81,666.35,650.65,661.31,22428300.0,0.0,1.0,85.414909,86.000854,83.974571,85.350378,156998100.0
2012-10-03,664.86,671.86,662.63,671.45,15152900.0,0.0,1.0,85.808550,86.711988,85.520741,86.659073,106070300.0
2012-10-04,671.25,674.25,665.55,666.80,13240200.0,0.0,1.0,86.633260,87.020448,85.897604,86.058932,92681400.0
2012-10-05,665.20,666.00,651.28,652.59,21214500.0,0.0,1.0,85.852432,85.955682,84.055880,84.224952,148501500.0

In [18]:
aapl.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2016-12-23,115.59,116.5200,115.59,116.52,14249484.0,0.0,1.0,114.162295,115.080808,114.162295,115.080808,14249484.0
2016-12-27,116.52,117.8000,116.49,117.26,18296855.0,0.0,1.0,115.080808,116.344998,115.051178,115.811668,18296855.0
2016-12-28,117.52,118.0166,116.20,116.76,20905892.0,0.0,1.0,116.068456,116.558923,114.764760,115.317843,20905892.0
2016-12-29,116.45,117.1095,116.40,116.73,15039519.0,0.0,1.0,115.011672,115.663027,114.962290,115.288214,15039519.0
2016-12-30,116.65,117.2000,115.43,115.82,30586265.0,0.0,1.0,115.209202,115.752409,114.004271,114.389454,30586265.0

In [19]:
fb = quandl.get("WIKI/FB", start_date="2012-01-01", end_date="2013-01-01", collapse="monthly")

In [20]:
fb.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-05-31,28.545,29.67,26.83,29.600,111639200.0,0.0,1.0,28.545,29.67,26.83,29.600,111639200.0
2012-06-30,31.920,31.99,30.76,31.095,19526900.0,0.0,1.0,31.920,31.99,30.76,31.095,19526900.0
2012-07-31,23.370,23.37,21.61,21.710,56179400.0,0.0,1.0,23.370,23.37,21.61,21.710,56179400.0
2012-08-31,18.680,18.70,18.03,18.058,58764200.0,0.0,1.0,18.680,18.70,18.03,18.058,58764200.0
2012-09-30,20.570,21.95,20.50,21.660,65486000.0,0.0,1.0,20.570,21.95,20.50,21.660,65486000.0

In [21]:
fb.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-08-31,18.68,18.70,18.03,18.0580,58764200.0,0.0,1.0,18.68,18.70,18.03,18.0580,58764200.0
2012-09-30,20.57,21.95,20.50,21.6600,65486000.0,0.0,1.0,20.57,21.95,20.50,21.6600,65486000.0
2012-10-31,20.82,21.50,20.73,21.1100,99378200.0,0.0,1.0,20.82,21.50,20.73,21.1100,99378200.0
2012-11-30,27.26,28.00,26.76,28.0000,127049600.0,0.0,1.0,27.26,28.00,26.76,28.0000,127049600.0
2012-12-31,26.20,26.99,26.11,26.6197,60374500.0,0.0,1.0,26.20,26.99,26.11,26.6197,60374500.0

## Reading-in time series data using CSV

In [22]:
import pandas as pd

In [23]:
fb_data_frame = pd.read_csv("stock/WIKI-FB.csv")

In [24]:
type(fb_data_frame)

pandas.core.frame.DataFrame

In [25]:
fb_data_frame.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-10-27,174.15,178.210,173.90,177.88,29867490.0,0.0,1.0,174.15,178.210,173.90,177.88,29867490.0
1,2017-10-26,171.38,172.285,170.39,170.63,10932929.0,0.0,1.0,171.38,172.285,170.39,170.63,10932929.0
2,2017-10-25,171.90,172.250,168.89,170.60,15095603.0,0.0,1.0,171.90,172.250,168.89,170.60,15095603.0
3,2017-10-24,172.30,173.240,171.50,171.80,11629341.0,0.0,1.0,172.30,173.240,171.50,171.80,11629341.0
4,2017-10-23,175.20,175.340,171.25,171.27,13622072.0,0.0,1.0,175.20,175.340,171.25,171.27,13622072.0

In [26]:
fb_data_frame.tail()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
1366,2012-05-24,32.95,33.21,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.21,31.77,33.0300,50237200.0
1367,2012-05-23,31.37,32.50,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.50,31.36,32.0000,73600000.0
1368,2012-05-22,32.61,33.59,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.59,30.94,31.0000,101786600.0
1369,2012-05-21,36.53,36.66,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.66,33.00,34.0300,168192700.0
1370,2012-05-18,42.05,45.00,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.00,38.00,38.2318,573576400.0

In [27]:
fb_data_frame.head(10)

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-10-27,174.15,178.210,173.90,177.88,29867490.0,0.0,1.0,174.15,178.210,173.90,177.88,29867490.0
1,2017-10-26,171.38,172.285,170.39,170.63,10932929.0,0.0,1.0,171.38,172.285,170.39,170.63,10932929.0
2,2017-10-25,171.90,172.250,168.89,170.60,15095603.0,0.0,1.0,171.90,172.250,168.89,170.60,15095603.0
3,2017-10-24,172.30,173.240,171.50,171.80,11629341.0,0.0,1.0,172.30,173.240,171.50,171.80,11629341.0
4,2017-10-23,175.20,175.340,171.25,171.27,13622072.0,0.0,1.0,175.20,175.340,171.25,171.27,13622072.0
5,2017-10-20,175.50,175.880,174.63,174.98,11861307.0,0.0,1.0,175.50,175.880,174.63,174.98,11861307.0
6,2017-10-19,174.93,176.030,172.63,174.56,13602869.0,0.0,1.0,174.93,176.030,172.63,174.56,13602869.0
7,2017-10-18,176.65,176.740,175.75,176.03,12655492.0,0.0,1.0,176.65,176.740,175.75,176.03,12655492.0
8,2017-10-17,174.71,176.130,174.36,176.11,15381990.0,0.0,1.0,174.71,176.130,174.36,176.11,15381990.0
9,2017-10-16,174.49,175.000,174.06,174.52,11225293.0,0.0,1.0,174.49,175.000,174.06,174.52,11225293.0